@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
}

.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url("./Nearsure_Programador.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 60px;
}


nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 700px;
}

li {
    transition: .5s;
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
}

li::after {
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    transition: transform .5s;
    transform: scaleX(0);
    transform-origin: right;

}

li:hover {
    text-shadow: 0 0 5px rgb(102, 79, 232),
     0 0 25px rgb(102, 79, 232),
     0 0 50px rgb(102, 79, 232),
     0 0 75px rgb(3102, 79, 232),
     0 0 100px rgb(102, 79, 232),
     0 0 125px rgb(102, 79, 232);
}


li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.arrows {
    width: 60px;
    height: 172px;
    bottom: 20px;
}

.arrows path {
    stroke: #fff;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a2 {
    animation-delay:  -0.5s;
    -webkit-animation-delay:  -0.5s;
}

.arrows path.a3 {
    animation-delay:  0s;
    -webkit-animation-delay:  0s;
}

.content-container {
    height: 100vh;
    background-color: #333;
}

.profile-container {
    color: #333;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./fundo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.profile-content {
    width: 30%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
}

.profile-image {
    width: 150px;
    height: auto;
    border-radius: 50%;
    border: 4px solid rgb(59, 13, 228);
}

.name-text {
    font-family: 'Oswald', sans-serif;
    font-size: 21px;
    margin-top: 15px;
}

.profile-text {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    text-align: center;
    width: 80%;
    margin-top: 10px;
}

.profile-button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 2px rgb(7, 7, 239) solid;
    color: #0f0f10;
    font-family: 'Oswald', sans-serif;
    margin-top: 35px;
    cursor: pointer;
}

.divider {
    width: 100%;
    border-top: .5px solid #bfbfbf;
    margin: 20px 0;
}

.icons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.icon-item {
    width: 80px;
    height: auto;
}

.profile-sinopse {
    width: 430px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-size: 17px;
}

.project-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./banner2.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-content {
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(1fr, 3);
}

.position-container {
    width: 100%;
    display: flex;
}

.right {
    justify-content: flex-end;
}

.left {
    justify-content: flex-start;
}

.project-card {
    width: 700px;
    height: 20px;
    background-color: black;
    box-shadow: 10px 10px 5px black;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.card-reverse {
    flex-direction: row-reverse;
}

.project-image {
    width: 350px;
    height: auto;
    position: relative;
    border-radius: 8px;
    right: 20px;
    top: 40px;
}

.image-reverse {
    left: 20px;
}

.project-text {
    color: white;
    font-family: 'Oswald', sans-serif;
}



.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./form1.jpg!bwr800);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(96, 142, 234);
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;

}

label {
    display: block;
}

input {
    display: block;
    width: 100%;
    border-radius: 8px;

}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 300px;
    border-radius: 8px;

}

button {
    margin-top: 20px;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px #fff;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;

}

button:hover {
    box-shadow: 0 0 5px rgb(45, 18, 196),
     0 0 25px rgb(45, 18, 196),
     0 0 50px rgb(45, 18, 196),
     0 0 750px rgb(45, 18, 196),
     0 0 100px rgb(45, 18, 196),
     0 0 125px rgb(45, 18, 196); 
}


@media(max-width: 768px) {
    .footer-navigation {
        display: block;
    }
    nav {
        display: none;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .hero-container {
        width: 100%;
        padding: 10%;
    }

    .profile-container {
        width: 100%;
        padding: 10%;
    }

    .project-container {
        width: 100%;
        padding: 10%;
    }

    .form-container  {
        width: 100%;
        padding: 5%;
    }


}
